/*全局*/
html{
    overflow-x: hidden;
    height: 100%;
}
body {
    background-color: #f2f2f2;
    padding: 15px;
    color: #666;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
[lying-src] {
    cursor: pointer;
}
/*轮播*/
.lying-carousel {
    height: 185px!important;
    background-color: #fff;
}
.lying-carousel .layui-carousel-ind {
    position: absolute;
    top: -41px;
    text-align: right;
}
.lying-carousel .layui-carousel-ind ul {
    background: none;
}
.lying-carousel .layui-carousel-ind li {
    background-color: #e2e2e2;
}
.lying-carousel .layui-carousel-ind li.layui-this {
    background-color: #999;
}
.lying-carousel .layui-col-space10 {
    margin: 0;
}
.lying-carousel>[carousel-item]>* {
    background-color: #fff;
}
/*图标菜单*/
.lying-shortcut li {
    text-align: center;
}
.lying-shortcut li .layui-icon {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 2px;
    font-size: 30px;
    background-color: #F8F8F8;
    color: #333;
    transition: all .3s;
}
.lying-shortcut li cite {
    position: relative;
    top: 2px;
    display: block;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}
/*待审*/
.lying-backlog .lying-backlog-body {
    display: block;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: #999;
    border-radius: 2px;
    transition: all .3s;
}
.lying-backlog-body h3 {
    padding-bottom: 10px;
    font-size: 12px;
}
.lying-backlog-body p cite {
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    color: #009688;
}
/*数据概览*/
.lying-dataview {
    height: 332px!important;
}
.lying-dataview>[carousel-item]>div {
    height: 332px;
}
.lying-dataview>[carousel-item]:before {
    display:none
}
/*表格样式*/
.layui-table td, .layui-table th, .layui-table-fixed-r, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
    border-color: #f6f6f6;
}
/*进度条*/
.lying-takerates {
    padding-top: 5px;
}
.lying-takerates .layui-progress {
    margin: 50px 0 60px;
}
.lying-takerates .layui-progress h3 {
    position: absolute;
    right: 0;
    top: -35px;
    color: #999;
    font-size: 14px;
}
.lying-takerates .layui-progress-bar {
    text-align: left;
}
.lying-takerates .layui-progress-text {
    top: -35px;
    line-height: 26px;
    font-size: 26px;
}
.lying-takerates .layui-progress:last-child {
    margin-bottom: 10px;
}
/*选项卡*/
.layui-card .layui-tab-brief .layui-tab-title {
    height: 42px;
    border-bottom-color: #f6f6f6;
}
.layui-card .layui-tab-brief .layui-tab-title li.layui-this {
    color: #333;
}
.layui-card .layui-tab-brief .layui-tab-title li {
    margin: 0 15px;
    padding: 0;
    line-height: 42px;
}
.layui-card .layui-tab-brief .layui-tab-title .layui-this:after {
    height: 43px;
}
.layui-card .layui-tab-brief .layui-tab-content {
    padding: 15px;
}
/*新闻*/
.lying-news {
    height: 60px!important;
    padding: 5px 0;
}
.lying-news a {
    display: block;
    line-height: 60px;
    text-align: center;
}
/*文本*/
.lying-text p {
    margin-bottom: 10px;
    text-indent: 2em;
}