.lau-body {
    background-color: #F2F2F2;
}
.lau-link {
    color: #029789!important;
}
.lau-link:hover {
    opacity: 0.8;
}
.lau-reg-form {
    position: fixed;
    width: 380px;
    left: 50%;
    margin-left: -190px;
    height: 500px;
    top: 50%;
    margin-top: -250px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0 #999;
    background-color: #fff;
    padding: 15px;
}
.layui-form-pane .layui-form-label {
    width: 90px;
    padding: 8px 0;
}
.layui-form-pane .layui-input-block {
    margin-left: 90px;
}
.lau-reg-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #666;
    padding: 10px 0 5px 0;
    letter-spacing: 5px;
}
.lau-reg-subtitle {
    text-align: center;
    color: #999;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.lau-reg-captcha input {
    width: 140px;
}
.lau-reg-captcha img {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 36px;
    cursor: pointer;
}
.lau-reg-captcha button {
    position: absolute;
    right: 0;
    top: 0;
}
.lau-reg-form.layui-form-pane .layui-form-checkbox {
    margin-left: 0;
}
.lau-reg-lic {
    float: right;
    margin-top: 7px;
}
.lau-reg-other .layui-icon {
    font-size: 26px;
}
.layui-icon-login-qq {
    color: #3492ED;
}
.layui-icon-login-wechat {
    color: #4DAF29;
}
.layui-icon-login-weibo {
    color: #CF1900;
}
.lau-reg-login {
    float: right;
    margin-top: 3px;
}
.lau-reg-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    color: #999;
}
.lau-reg-footer p {
    height: 30px;
    line-height: 30px;
}
.lau-reg-footer span {
    padding: 0 5px;
}
